@import "../utils/fonts";
@import "../utils/reset";

@import "../utils/spacing";
@import "../utils/grid";

@import "../utils/utils";

button {
  border: 0;
  outline: none;
  appearance: none;
}

header.header .top-toolbar {
  justify-content: space-between;
  align-items: center;

  height: 64px;
  padding: 0 30px;

  border-radius: 10px;
  background-color: rgba(41,36,33,1);

  &__logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .logo-icon {
      margin-top: 4px;
    }
  }
  &__menu {
    flex: min-content;
    height: 100%;

    .menu__list > li {
      padding: 0;
    }
    .menu__submenu {
      display: none;
      position: absolute;
      top: 3em;
      left: 0;

      min-width: fit-content;
      padding: 1.4em 0 0 0;
      z-index: 9;

      li {
        background-color: rgba(41, 36, 33, 1);
        text-align: left;
      }
      a {
        white-space: nowrap;
      }
    }

    ul {
      height: 100%;
      margin: 0;
    }
    li {
      position: relative;

      display: flex;
      align-items: center;
      text-align: center;
      padding: 0 15px 0 0;
      min-height: 4em;
    }
    a {
      align-items: center;
      padding: 1em 1.2em 1em 1.2em;
      width: 100%;

      .menu__info {
        position: relative;
        width: 100%;

        &::after {
          content: '>';
          font-size: 1.2em;
          position: absolute;
          right: -1.2em;
          top: 50%;
          transform: translateY(-50%);
        }
      }

      span:not(.link) {
        color: rgba(111, 111, 111, 1)
      }
    }
  }

  &.touch .top-toolbar__menu {
    .menu__item--active {
      background-color: rgba(57, 53, 51, 1);

      .menu__submenu--open {
        display: block;
      }
    }
  }
  &:not(.touch) {
    li:hover {
      background-color: rgba(57, 53, 51, 1);

      .menu__submenu {
        display: block;
      }
    }
  }

  &__menu,
  &__control {
    font-size: .9em;
  }
  &__control {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .menu-icon {
      cursor: pointer;
    }

    button {
      padding: 10px 20px;
      border-radius: 10px;
      background: rgba(254, 214, 2, 1);
      color: rgba(22, 22, 22, 1);
      font-size: .8em;
    }
    a {
      margin: 0 .3rem;
      padding: 1em 0;
    }
  }

  @include mq(1590) {
    .logo-title {
      display: none;
    }
  }
  @include mq(1160) {
    margin: 0 !important;
    border-radius: 0;
  }
  @include mq(795) {
    &__menu {
      display: none;
    }
    &__control {
      span {
        margin: 0 10px;
      }
    }
  }
  @include mq(360) {
    &__control {
      letter-spacing: -.3px;

      button {
        letter-spacing: -.3px;
        padding: 10px;
      }
    }
  }

  &--light {
    background-color: rgba(255, 255, 255, 1);

    .top-toolbar__menu {
      .menu__submenu li {
        background-color: rgba(255, 255, 255, 1);
      }
    }

    &.touch .top-toolbar__menu {
      .menu__item--active {
        background-color: rgba(255, 255, 255, 1);
      }
    }
    &:not(.touch) li:hover {
      background-color: rgba(241, 241, 241, 1);
    }
  }
}
