/* Regular */

@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "Montserrat";
  font-display: swap;
  src: local("Montserrat-Regular"),
    url("../fonts/Montserrat-Regular.woff2") format("woff2"),
    url("../fonts/Montserrat-Regular.woff") format("woff");
}

/* Bold */

@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: "Montserrat";
  font-display: swap;
  src:
    local("Montserrat-Bold"),
    url("../fonts/Montserrat-Bold.woff2") format("woff2"),
    url("../fonts/Montserrat-Bold.woff") format("woff");
}

@font-face {
  font-weight: 600;
  font-style: normal;
  font-family: "Montserrat";
  font-display: swap;
  src: local("Montserrat-SemiBold"),
    url("../fonts/Montserrat-SemiBold.woff2") format("woff2"),
    url("../fonts/Montserrat-SemiBold.woff") format("woff");
}

@font-face {
  font-weight: 800;
  font-style: normal;
  font-family: "Montserrat";
  font-display: swap;
  src: local("Montserrat-ExtraBold"),
    url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"),
    url("../fonts/Montserrat-ExtraBold.woff") format("woff");
}
