.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  font-size: 16px;
  width: 100%;
  color: black;
  line-height: 1;
}

main {
  width: 100%;
  padding-left: 75px;
  padding-right: 75px;
}

.visually-hidden {
  visibility: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

address {
  font-style: normal;
}

h1, h2, h3, p, ul {
  padding: 0;
  margin: 0;
}

h2, h3 {
  font-weight: 500;
}

ul {
  list-style: none;
}

button, input {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}
