* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: lightblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-height: 1000px;
  margin: 50px;
  background: #fff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
  grid-template-columns: 1fr 2fr;
  -webkit-box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
          box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}

.link-btn,
.download-btn {
  display: -ms-grid;
  display: grid;
  place-content: center;
  position: fixed;
  top: 30px;
  width: 60px;
  height: 60px;
  padding: 15px 20px;
  cursor: pointer;
  border-radius: 50%;
  background: rgba(51, 51, 51, 0.2);
}
.link-btn .btn-sign,
.download-btn .btn-sign {
  font-size: 26px;
  color: #fff;
}

.link-btn {
  left: 30px;
}

.download-btn {
  right: 30px;
}

aside {
  position: relative;
  background: #003147;
  padding: 40px;
}

.profileText {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.profileText .imgBx {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}
.profileText .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.profileText h2 {
  color: #fff;
  font-size: 1.5em;
  margin: 20px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  line-height: 1.4em;
}
.profileText h2 span {
  font-size: 0.8em;
  font-weight: 300;
  display: block;
  text-decoration: none;
}

.contact {
  padding-top: 40px;
}
.contact .title {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}
.contact ul {
  position: relative;
}
.contact ul li {
  position: relative;
  list-style: none;
  margin: 10px 0;
  cursor: pointer;
}
.contact ul li .icon {
  display: inline-block;
  width: 30px;
  font-size: 18px;
  color: #03a9f4;
}
.contact ul li .text {
  color: #fff;
  font-weight: 300;
  text-decoration: none;
}

.education li {
  margin-bottom: 15px;
}
.education li h5 {
  color: #03a9f4;
  font-weight: 500;
}
.education li h4 {
  color: #fff;
  font-weight: 500;
}

.about li {
  margin-bottom: 15px;
}
.about li h5,
.about li h4 {
  color: #fff;
  font-weight: 500;
}

main {
  position: relative;
  background: #fff;
  padding: 40px;
}
main section {
  margin-bottom: 50px;
}
main section:last-child {
  margin-bottom: 0;
}
main h2 {
  color: #003147;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
main p {
  color: #333;
}

.experience .position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 20px 0;
}
.experience .position header {
  min-width: 150px;
}
.experience .position header h5 {
  text-transform: uppercase;
  color: #848c90;
  font-weight: 600;
}
.experience .position .description h4 {
  text-transform: uppercase;
  color: #2a7da2;
  font-size: 16px;
}

.skills .tag-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 5px;
  margin: 20px 0;
}
.skills .tag-list__item {
  padding: 5px 15px;
  background-color: #eef1f7;
  border-radius: 5px;
}

@media (max-width: 1000px) {
  .container {
    margin: 10px;
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 600px) {
  .experience .position {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .experience .position header {
    min-width: 150px;
    margin-bottom: 5px;
  }
}
